<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Say Hi</span>
                <h2 class="cs-title">Let's Chat About How We Can Achieve New Growth for Your Business Online.</h2>
            </div>
            <div class="cs-button-box">
                <a href="/contact" class="cs-button-solid">Let's Chat</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <source srcset="{% getUrl '/assets/images/rainforest-m.jpg' | resize({ width: 1000, height: 667 }) | avif %}" media="(max-width: 600px)" type="image/avif">
        <source srcset="{% getUrl '/assets/images/rainforest.jpg' | resize({ width: 1500, height: 1000 }) | avif %}" media="(min-width: 601px)" type="image/avif">
        <img src="{% getUrl '/assets/images/rainforest.jpg' | resize({ width: 2000, height: 1667 }) | webp %}" loading="lazy" alt="Rainforest">
    </picture>
    
</section>
