<section id="pricing-1384">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Choose The Option that Fits Your Needs</h2>
            <p class="cs-text">
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Consultation</span>
                    <span class="cs-price">
                        Free!
                    </span>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">Initial Consultation</li>
                    <li class="cs-li">Website Assessment</li>
                    <li class="cs-li">Actionable Recommendations</li>
                </ul>
                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/newgrowthweb/30min'});return false;" class="cs-button-transparent">Let's Chat</a>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Outright</span>
                    <span class="cs-price">
                        $2,500<sup>*</sup>
                    </span>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">Design and Development</li>
                    <li class="cs-li">*Hosting $25/month</li>
                    <li class="cs-li">Google Business Page Revamp</li>
                    <li class="cs-li cs-disabled">Unlimited Edits</li>
                    <li class="cs-li cs-disabled">24/7 Support</li>
                    <li class="cs-li cs-disabled">Lifetime Design Refreshes</li>
                </ul>
                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/newgrowthweb/30min'});return false;" class="cs-button-transparent">Let's Chat</a>
            </li>
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Monthly</span>
                    <span class="cs-price">
                        $95
                        <span class="cs-duration">/Month</span>
                    </span>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">Design and Development</li>
                    <li class="cs-li">Hosting Included</li>
                    <li class="cs-li">Google Business Page Revamp</li>
                    <li class="cs-li">Unlimited Edits</li>
                    <li class="cs-li">24/7 Support</li>
                    <li class="cs-li">Lifetime Design Refreshes</li>
                </ul>
                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/newgrowthweb/30min'});return false;" class="cs-button-transparent">Let's Chat</a>
            </li>
        </ul>
    </div>
</section>