---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About</h1>
    <picture class="cs-background">
        <source srcset="{% getUrl '/assets/images/tree-sky.jpg' | resize({ width: 1200, height: 400 }) | avif %}" media="(max-width: 600px)" type="image/avif">
        <source srcset="{% getUrl '/assets/images/tree-sky.jpg' | resize({ width: 1585, height: 455 }) | avif %}" media="(min-width: 601px)" type="image/avif">
        <img src="{% getUrl '/assets/images/tree-sky.jpg' | resize({ width: 2000, height: 2000 }) | webp %}" alt="Produce collection">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1278">
    <div class="cs-container">
        <picture class="cs-picture">
            <source srcset="{% getUrl '/assets/images/me-volcano.jpg' | resize({ width: 1000, height: 1000 }) | avif %}" media="(max-width: 600px)" type="image/avif">
            <source srcset="{% getUrl '/assets/images/me-volcano.jpg' | resize({ width: 1500, height: 1200 }) | avif %}" media="(min-width: 601px)" type="image/avif">
            <img src="{% getUrl '/assets/images/me-volcano.jpg' | resize({ width: 2000, height: 2000 }) | webp %}" alt="Produce collection">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">New Growth Web Services</span>
                <h2 class="cs-title">Hey There, I'm Casey. <img src="../../assets/svgs/hand-wave.svg" class="emoji" alt="Hand waving"> </h2>
                <p>I grew up in Pembroke, Ontario and studied business in university. After ten years in this field, I made the switch to web development three years ago, studying at Le Wagon in Montreal. Since then, I've worked at an agency, creating everything from sleek, simple websites like the one you're on now to more complex, advanced projects.</p>
                <br>
                <p>But I don't fit the typical developer mold. When I'm not coding, you'll find me cooking, cycling, hiking, or escaping into nature as often as I can (as you might have guessed from the theme of this site!). </p>
                <br>
                <p>I am excited to chat and see how I can help you grow your business with a new website</p>
                <a href="/contact" class="cs-button-solid">Let's Chat</a>
            </div>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}