---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 1100
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl '/assets/images/sapling-contact.png' | resize({ width: 1200, height: 400 }) | avif %}"/>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Let's Chat</h1>
    <picture class="cs-background">
        <source srcset="{% getUrl '/assets/images/sapling-contact.png' | resize({ width: 1200, height: 400 }) | avif %}" media="(max-width: 600px)" type="image/avif">
        <source srcset="{% getUrl '/assets/images/sapling-contact.png' | resize({ width: 2500, height: 1000 }) | avif %}" media="(min-width: 601px)" type="image/avif">
        <img src="{% getUrl '/assets/images/sapling-contact.png' | resize({ width: 1200, height: 400 }) | webp %}" alt="Hand holding a sapling">
    </picture>
</section>
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1105">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Let's Chat</span>
            <h2 class="cs-title">Schedule a Chat</h2>
            <form class="cs-form" id="cs-form-1105" name="Contact Form" method="post" data-netlify="true">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1105" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1105" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="phone" id="phone-1105" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1105" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <ul class="cs-ul">
            <li class="cs-li">
                <picture class="cs-icon-wrapper">
                    <img aria-hidden="true" src="../../assets/svgs/phone-contact.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Phone</span>
                    <a href="tel:888-4565-789
                    " class="cs-link">+1 (613) 857 9828
                    </a>
                </div>
            </li>
            <li class="cs-li">
                <picture class="cs-icon-wrapper">
                    <img aria-hidden="true" src="../../assets/svgs/mail.svg" alt="mail icon" class="cs-icon" width="40" height="40" decoding="async">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Email</span>
                    <a href="mailto:newgrowthweb@gmail.com" class="cs-link">newgrowthweb@gmail.com</a>
                </div>
            </li>
            <li class="cs-li">
                <picture class="cs-icon-wrapper">
                    <img aria-hidden="true" src="../../assets/svgs/pin-contact.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Areas Served</span>
                    <a href="" class="cs-link">Canada</a>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}