---
title: 'Pricing | New Growth Web Services'
description: 'Pricing options available to customers of New Growth Web Services'
permalink: 'pricing/'
eleventyNavigation:
    key: Pricing
    order: 1000
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/pricing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Pricing</h1>
    <picture class="cs-background">
        <source srcset="{% getUrl '/assets/images/leaves.jpg' | resize({ width: 1200, height: 400 }) | avif %}" media="(max-width: 600px)" type="image/avif">
        <source srcset="{% getUrl '/assets/images/leaves.jpg' | resize({ width: 2000, height: 1005 }) | avif %}" media="(min-width: 601px)" type="image/avif">
        <img src="{% getUrl '/assets/images/leaves.jpg' | resize({ width: 2000, height: 2000 }) | webp %}" alt="Produce collection">
    </picture>
</section>
{% include 'components/pricing.html' %}
{% endblock %}