/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1278 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 30rem;
    margin: auto;
  }
  #sbs-1278 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-1278 .cs-title {
    max-width: 20ch;
  }
  #sbs-1278 .cs-title .emoji {
    width: 2.5rem;
  }
  #sbs-1278 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1278 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1278 .cs-picture {
    height: auto;
    height: clamp(23rem, 46vw, 37.375rem);
    border-radius: 1.25rem;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #sbs-1278 .cs-button-solid {
    margin-top: 2rem;
  }
  #sbs-1278 .cs-background {
    width: 100%;
    height: 50%;
    background-color: #1a1a1a;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1278 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1278 .cs-container {
    align-items: center;
    max-width: 53.125rem;
  }
  #sbs-1278 .cs-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
    order: 2;
  }
  #sbs-1278 .cs-flex {
    width: 60%;
  }
  #sbs-1278 .cs-title {
    margin: 0;
  }
  #sbs-1278 .cs-text {
    width: 50%;
  }
  #sbs-1278 .cs-button-solid {
    margin-right: auto;
  }
  #sbs-1278 .cs-picture {
    width: 60%;
    order: 1;
    height: clamp(28.5rem, 46vw, 37.375rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1278 {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);
  }
  #sbs-1278 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #sbs-1278 .cs-content {
    width: 100%;
    max-width: 29rem;
    margin: 0;
    flex-direction: column;
    order: 2;
    row-gap: 0;
  }
  #sbs-1278 .cs-flex {
    width: 100%;
  }
  #sbs-1278 .cs-title {
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #sbs-1278 .cs-text {
    width: 100%;
  }
  #sbs-1278 .cs-picture {
    width: 45%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1278 .cs-title,
  body.dark-mode #sbs-1278 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1278 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-1278 .cs-background {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/*-- -------------------------- -->
<---        Header              -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
  #header-1 {
    background-color: #f7f7f7;
    padding-top: 2rem;
  }
  #header-1 .cs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-71,
  #RTsbsr-71,
  #RTsbst-71 {
    padding: var(--sectionPadding);
  }
  #RTsbs-71 .cs-container,
  #RTsbsr-71 .cs-container,
  #RTsbst-71 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RTsbs-71 .cs-content,
  #RTsbsr-71 .cs-content,
  #RTsbst-71 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RTsbs-71 .cs-text,
  #RTsbsr-71 .cs-text,
  #RTsbst-71 .cs-text {
    margin-bottom: 1rem;
  }
  #RTsbs-71 .cs-text:last-of-type,
  #RTsbsr-71 .cs-text:last-of-type,
  #RTsbst-71 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-71 .cs-text .ref-link,
  #RTsbsr-71 .cs-text .ref-link,
  #RTsbst-71 .cs-text .ref-link {
    text-decoration: none;
  }
  #RTsbs-71 .cs-button-solid,
  #RTsbsr-71 .cs-button-solid,
  #RTsbst-71 .cs-button-solid {
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    min-width: 9.375rem;
    margin-top: 2rem;
  }
  #RTsbs-71 .cs-picture,
  #RTsbsr-71 .cs-picture,
  #RTsbst-71 .cs-picture {
    width: 95%;
    max-width: 34.375rem;
    margin: 0;
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 312/335;
    border-radius: 1rem;
    z-index: 1;
  }
  #RTsbs-71 .cs-picture:before,
  #RTsbsr-71 .cs-picture:before,
  #RTsbst-71 .cs-picture:before {
    /* Top right box */
    content: "";
    width: 10rem;
    /* 202px - 248px */
    height: clamp(12.625rem, 25vw, 15.5rem);
    background: #1a1a1a;
    opacity: 1;
    border-radius: 1rem;
    position: absolute;
    display: block;
    /* 16px -20px */
    /* wrapped in a calc function to get a negative clamp value */
    top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
  }
  #RTsbs-71 .cs-picture:after,
  #RTsbsr-71 .cs-picture:after,
  #RTsbst-71 .cs-picture:after {
    /* Bottom left box */
    content: "";
    width: 10rem;
    /* 202px - 248px */
    height: clamp(12.625rem, 25vw, 15.5rem);
    background: #1a1a1a;
    opacity: 1;
    border-radius: 1rem;
    position: absolute;
    display: block;
    /* 16px -20px */
    /* wrapped in a calc function to get a negative clamp value */
    bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    z-index: -1;
  }
  #RTsbs-71 .cs-picture img,
  #RTsbsr-71 .cs-picture img,
  #RTsbst-71 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-71 .cs-container,
  #RTsbsr-71 .cs-container,
  #RTsbst-71 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-start;
    /* 60px - 128px */
    gap: clamp(3.75rem, 9.5vw, 8rem);
  }
  #RTsbs-71 .cs-picture,
  #RTsbsr-71 .cs-picture,
  #RTsbst-71 .cs-picture {
    /* 328px - 502px */
    width: clamp(20.5rem, 37.5vw, 31.375rem);
    /* 440px - 520px */
    height: clamp(27.5rem, 40vw, 32.5rem);
    /* 16px - 20px */
    margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
    flex: none;
  }
  #RTsbs-71 .cs-content,
  #RTsbsr-71 .cs-content,
  #RTsbst-71 .cs-content {
    width: 45%;
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RTsbs-71 .cs-picture:before, body.dark-mode #RTsbs-71 .cs-picture:after,
  body.dark-mode #RTsbsr-71 .cs-picture:before,
  body.dark-mode #RTsbsr-71 .cs-picture:after,
  body.dark-mode #RTsbst-71 .cs-picture:before,
  body.dark-mode #RTsbst-71 .cs-picture:after {
    background: var(--accent);
  }
  body.dark-mode #RTsbs-71 .cs-title,
  body.dark-mode #RTsbs-71 .cs-text,
  body.dark-mode #RTsbsr-71 .cs-title,
  body.dark-mode #RTsbsr-71 .cs-text,
  body.dark-mode #RTsbst-71 .cs-title,
  body.dark-mode #RTsbst-71 .cs-text {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbsr-71 {
    background-color: #f7f7f7;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbsr-71 .cs-container {
    justify-content: flex-end;
  }
  #RTsbsr-71 .cs-picture {
    /* 16px - 20px */
    margin-right: clamp(1rem, 5vw, 1.25rem);
    /* forces it to the left */
    order: 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RTsbsr-71,
  body.dark-mode #header-1 {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/*# sourceMappingURL=about.css.map */
