/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1278 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 30rem;
    margin: auto;
  }
  #sbs-1278 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-1278 .cs-title {
    max-width: 20ch;
  }
  #sbs-1278 .cs-title .emoji {
    width: 2.5rem;
  }
  #sbs-1278 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1278 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1278 .cs-picture {
    height: auto;
    height: clamp(23rem, 46vw, 37.375rem);
    border-radius: 1.25rem;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #sbs-1278 .cs-button-solid {
    margin-top: 2rem;
  }
  #sbs-1278 .cs-background {
    width: 100%;
    height: 50%;
    background-color: #1a1a1a;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1278 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1278 .cs-container {
    align-items: center;
    max-width: 53.125rem;
  }
  #sbs-1278 .cs-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
    order: 2;
  }
  #sbs-1278 .cs-flex {
    width: 60%;
  }
  #sbs-1278 .cs-title {
    margin: 0;
  }
  #sbs-1278 .cs-text {
    width: 50%;
  }
  #sbs-1278 .cs-button-solid {
    margin-right: auto;
  }
  #sbs-1278 .cs-picture {
    width: 60%;
    order: 1;
    height: clamp(28.5rem, 46vw, 37.375rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1278 {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);
  }
  #sbs-1278 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #sbs-1278 .cs-content {
    width: 100%;
    max-width: 29rem;
    margin: 0;
    flex-direction: column;
    order: 2;
    row-gap: 0;
  }
  #sbs-1278 .cs-flex {
    width: 100%;
  }
  #sbs-1278 .cs-title {
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #sbs-1278 .cs-text {
    width: 100%;
  }
  #sbs-1278 .cs-picture {
    width: 45%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1278 .cs-title,
  body.dark-mode #sbs-1278 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1278 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-1278 .cs-background {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/*# sourceMappingURL=about.css.map */
