       /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1278 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            max-width: 30rem;
            margin: auto;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;

            & .emoji {
                width: 2.5rem;
            }
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-picture {
            height: auto;
            height: clamp(23rem, 46vw, 37.375rem);
            border-radius: calc(20 / 16 * 1rem);
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-button-solid {
            margin-top: 2rem;
        }

        .cs-background {
            width: 100%;
            height: 50%;
            background-color: #1a1a1a;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1278 {
        .cs-container {
            align-items: center;
            max-width: calc(850 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: calc(32 / 16 * 1rem);
            order: 2;
        }

        .cs-flex {
            width: 60%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            width: 50%;
        }

        .cs-button-solid {
            margin-right: auto;
        }

        .cs-picture {
            width: 60%;
            order: 1;
            height: clamp(28.5rem, 46vw, 37.375rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1278 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);

        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        .cs-content {
            width: 100%;
            max-width: 29rem;
            margin: 0;
            flex-direction: column;
            order: 2;
            row-gap: 0;
        }

        .cs-flex {
            width: 100%;
        }

        .cs-title {
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            width: 100%;
        }

        .cs-picture {
            width: 45%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1278 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-background {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

                                