/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1426 {
        /* Centers button */
        text-align: center;
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16 / 16 * 1rem);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.48;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-content {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            text-align: left;
        }

        .cs-topper {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--primaryLight);
            display: inline-block;
            position: relative;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            max-width: calc(829 / 16 * 1rem);
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin-bottom: calc(32 / 16 * 1rem);
            color: #fff;
        }

        .cs-button-group {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #1a1a1a;
            min-width: calc(200 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(8 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #816D5E;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                // border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button1 {
            background-color: var(--secondary);
        }
    }
}

@media only screen and (min-width: 601px) {
    #hero-1426 {
        padding-left: calc(48 / 16 * 1rem);
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    .services {
        z-index: 100;
        position: relative;
        border-top: calc(6 / 16 * 1em) solid var(--primary);
        border-radius: calc(5 / 16 * 1em);
        margin: auto;
        margin-top: calc(-167 / 16 * 1em);
        margin-bottom: calc(50 / 16 * 1em);
        background: #fff;
        max-width: calc(1320 / 16 * 1em);
        width: 90%;
        padding: calc(50 / 16 * 1em) calc(20 / 16 * 1em);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        .card {
            display: block;
            margin: auto;
            margin-bottom: calc(50 / 16 * 1em);
            max-width: calc(357 / 16 * 1em);
            width: 100%;

            picture {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: auto;
                margin-bottom: calc(23 / 16 * 1em);
                background: var(--primary);
                height: calc(88 / 16 * 1em);
                width: calc(88 / 16 * 1em);

                img {
                    height: calc(48 / 16 * 1em);
                    width: calc(48 / 16 * 1em);
                }
            }
            h2 {
                margin-bottom: calc(13 / 20 * 1em);
                font-size: calc(32 / 16 * 1em);
                line-height: calc(27 / 20 * 1em);
                font-weight: 700;
                color: #1a1a1a;
                text-align: center;
            }
            p {
                opacity: 0.7;
                width: 100%;
                line-height: calc(24 / 18 * 1em);
                text-align: center;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
    .services {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;
        font-size: min(1.8vw, 1em);

        .card {
            margin: 0;
            max-width: calc(325 / 16 * 1em);
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    .services {
        padding: calc(50 / 16 * 1em) calc(80 / 16 * 1em);

        .card {
            max-width: calc(357 / 16 * 1em);
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services {
            background: var(--medium);

            picture {
                background: var(--primaryDark);
            }

            h2 {
                font-weight: bold;
                color: #fff;
            }
        }
    }
}
